/* @import './global.css'; */

.list-heroes {
  padding: 60px 30px;
}

.list-heroes .itens {
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: all .2s ease;
}

.list-heroes .itens:hover {
  box-shadow: 0px 0px 13px -1px #ccc;
}

.list-heroes .itens:hover .info span {
  font-weight: bold;
}

.list-heroes .itens .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  padding-right: 20px;
}

.list-heroes .itens .info span {
  text-transform: uppercase;
  text-align: right;
  font-size: 14px;
  margin-bottom: 30px;
}

.list-heroes .itens .ver-mais {
  background: #fff;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  border: solid 1.5px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at left bottom, blue, #5548C4, rgba(66,238,209,1), rgba(230,32,2,1));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.list-heroes .itens .ver-mais:hover {
  box-shadow: 0px 0px 6px -1px #333;
  transition: all .2s ease;
}

.list-heroes .itens .ver-mais img {
  width: 15px;
  height: 15px;
}

.list-heroes .itens img {
  width: 160px;
  height: 160px;
  border-radius: 20px;
}

.list-heroes .cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.list-heroes .card {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.list-heroes .card-search {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list-heroes.activeListHeroWidth .card {
  width: 50%;
}

.form-search {
  width: 360px;
  height: 48px;
  background: #fff 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  outline: none;
  font-size: 1rem;
}

.form-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
  position: relative;
  align-items: center;
}

.form-container::after {
  content: "";
  background: rgb(0,188,252);
  background: linear-gradient(19deg, rgba(0,188,252,1) 0%, rgba(86,70,194,1) 30%, rgba(66,238,209,1) 70%, rgba(230,32,2,1) 100%);
  position: absolute;
  right: -2px;
  top: -2px;
  width: 364px;
  height: 52px;
  z-index: -1;
  border-radius: 12px;
}
.form-container .search-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  background: none;
  border: 0;
}

.form-container .search-btn img {
  width: 36px;
  height: 36px;
  transition: all .2s ease;
}

.form-container .search-btn:hover img {
  transform: scale(1.2);
}

.loading-svg {
  position: relative;
  width: 80px;
  height: 80px;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.card-search .not-found img {
  box-shadow: 0 0 13px 4px #ccc;
  padding: 10px;
}

.list-heroes .not-found .itens {
  height: 160px;
}

.list-heroes .not-found .info span {
  margin: 0;
}

.list-heroes .limpar {
  color: #707070;
  font-size: 1rem;
  border: 0;
  background: transparent;
  margin-right: 20px;
  position: absolute;
  right: 370px;
}

.list-heroes .limpar:hover {
  text-decoration: underline;
}